body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Graduate', serif;
}

#clock {
	height: 100vh;
	width: 100%;
	background-color: #000000;
	color: #39A2BF;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 50px;
}



